.m-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 240px;
  padding: 10px;
  line-height: 1.2em;
  word-wrap: break-word;
  cursor: move;
  user-select: none;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;

  &__grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 0;
    grid-auto-columns: 240px;
    grid-gap: 15px;
  }

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 1px 3px 1px rgba(60, 64, 67, 0.149);
  }
}
